{% extends 'base.html' %}
{% load static %}
{% block body %}
<title>Add Posts</title>

<header class="text-dark" style="margin-bottom: 50px">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start pb-4 pb-lg-0">
            <a class="nav-link" href="{% url 'homepage' %}">
                <img class="logo" src="{% static 'images/helloblogLOGO.svg' %}" alt="logo" />
            </a>

            <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
                <a class="nav-item" href="{% url 'homepage' %}"> <b>Startseite</b></a>
            </div>

            <a class="nav-item " href="{% url 'tagesbuch' %}"><b> Tagesbuch </b></a>
            <a class="nav-item " href="{% url 'contact' %}"><b> Kontakt </b></a>


            <!-- <form class="col-12 col-lg-auto  me-lg-3" role="search">
                <input class="form-control form-control-dark text-white bg-gray" name="suche" type="search"
                    placeholder="search for..." aria-lable="Search">
            </form> -->

            <div class="text-end">
                <div class="dropdown">
                    <div id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="menuBar1" style="background-color:white"></div>
                        <div class="menuBar2" style="background-color:white"></div>
                        <div class="menuBar3" style="background-color:white"></div>
                        <div class="menuBar4" style="background-color:white"></div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <!-- <span class="dropdown-item-text">logged in: {{request.user}}</span>
                        
                        <a class="dropdown-item" href="#">Musik</a> -->
                        <a class="dropdown-item" href="{% url 'allPosts' %}">Board</a>
                        <a class="dropdown-item" href="{% url 'therapieangebot' %}">Therapieangebot</a>
                        <a class="dropdown-item" href="{% url 'addPost' %}">neuer Beitrag</a>
                        <a class="dropdown-item" href="#">CDs</a>   
                        <a class="dropdown-item" href="{% url 'logout' %}">Ausloggen</a>
                    </div>
                    </div>

                </div>
            </div>
        </div>
</header>

<div class = "container text-center">
    <h1> Add Post </h1>
    <div class="container">
        <h2><strong>Eingeloggt:</strong> 
            <div class="btn btn-info btn-lg noHover round" >{{user}}</div>
        </h2> 
    </div>
</div>

<div class="d-flex justify-content-center">
    <form class = "col-8" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" class="btn btn-secondary btn-sm" value = "Speichern" >
        <a class="btn btn-danger btn-sm" href="#" role="button">Abbrechen</a>
    
    </form>
</div>






{% endblock body %}