{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}


{% block body %}
<title>Texte</title>  

<header class="text-dark" style="margin-bottom: 50px">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start pb-4 pb-lg-0">
            <a class="nav-link" href="{% url 'homepage' %}">
                <img class="logo" src="{% static 'images/logo.svg' %}" alt="logo" />
            </a>

            <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
                <a class="nav-link text-dark" href="{% url 'homepage' %}"> Startseite</a>
            </div>

            <a class="nav-link text-dark" href="{% url 'allPosts' %}">Texte</a>            
            <a class="nav-item text-dark" href="{% url 'contact' %}">Kontakt</a> 

            <form class="col-12 col-lg-auto  me-lg-3" role="search">
                <input class="form-control form-control-dark text-white bg-gray" name="suche" type="search"
                    placeholder="search for..." aria-lable="Search">
            </form>

            <div class="text-end">
                <div class="dropdown">
                    <div id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="menuBar1" style="background-color:white"></div>
                        <div class="menuBar2" style="background-color:white"></div>
                        <div class="menuBar3" style="background-color:white"></div>
                        <div class="menuBar4" style="background-color:white"></div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <span class="dropdown-item-text">logged in: {{request.user}}</span>
                        <a class="dropdown-item" href="{% url 'addPost' %}">Add Posts</a>
                        <a class="dropdown-item" href="#">Musik</a>
                        <a class="dropdown-item" href="#">CDs</a>
                        <a class="dropdown-item" href="#">Register</a>
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="container text-center">
    <h1> Texte </h1>
</div>

<div class="container-fluid d-flex justify-content-left">
    <ol>
        {% for obj in lib %}
        <li>
            <div class="card" style="width: 60%; background-color:white;">
                <div class="card-body">
                    <h2 class="card-title">
                        {{obj.title}}
                        <a class="btn btn-warning btn-sm" href="{% url 'deletePost' obj.id %}" role="button">&#9747</a>
                        <a class="btn btn-primary btn-sm" href="{% url 'editPost' obj.id %}" role="button">&#9747</a> 
                        <h6 class = "font-italic text-muted"> {{obj.createdOn}} </h6>
                    </h2>
                  
                  <!-- {% video obj.url '626x400' %}  -->
                  <p class="card-text">  
                    {% video obj.url 'small' %}  <br>  
                      {{ obj.body }}
                    <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. -->
                    </p>
                  <a href="#" class="btn btn-dark">Komposition hören</a>
                </div>
            </div> <br>

        </li>
        {% endfor %}
    </ol>


</div>



{% endblock body %}