{% extends 'base.html' %}
{% load static %}

{% block body %}
<title>Welcome</title>

<header class="text-dark" style="margin-bottom: 50px">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start pb-4 pb-lg-0">
            <a class="nav-link" href="{% url 'homepage' %}">
                <img class="logo" src="{% static 'images/logo.svg' %}" alt="logo" />
            </a>

            <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
                <a class="nav-item" href="{% url 'homepage' %}"> Startseite</a>
            </div>

            <a class="nav-item " href="{% url 'allPosts' %}">Texte</a> 
            <a class="nav-item " href="{% url 'contact' %}">Kontakt</a>            
            <a class="nav-item " href="{% url 'therapieangebot' %}">Therapieangebot</a> 

            <form class="col-12 col-lg-auto  me-lg-3" role="search">
                <input class="form-control form-control-dark text-white bg-gray" name="suche" type="search"
                    placeholder="search for..." aria-lable="Search">
            </form>

            <div class="text-end">
                <div class="dropdown">
                    <div id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="menuBar1" style="background-color:white"></div>
                        <div class="menuBar2" style="background-color:white"></div>
                        <div class="menuBar3" style="background-color:white"></div>
                        <div class="menuBar4" style="background-color:white"></div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <!-- <span class="dropdown-item-text">logged in: {{request.user}}</span>
                        <a class="dropdown-item" href="#">Add Posts</a>
                        <a class="dropdown-item" href="#">Musik</a> -->
                        <a class="dropdown-item" href="#">CDs</a>
                        <!-- <a class="dropdown-item" href="#">Register</a>
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</header>

<div class="container text-center">
    <h1> Therapie </h1>


</div>

<div>

    <div class="card mx-auto" style="width: 60%;">
        <div class="card-body">
          <h5 class="card-title">Selbst Liebe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Liebe und Selbst</h6>
          <p class="card-text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
            sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
            illum
            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
            praesent
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam
            erat volutpat.</p>
          <a href="{% url 'contact' %}" class="btn btn-dark btn-sm" role="button">Vereinbare jetzt einen Termin</a>

        </div>
      </div>

    <br>
    <hr>


</div>

{% endblock body %}